.container._m-b-1
  = simple_form_for :user do |f|
    = f.input :username,    as: :fake
    = f.input :password,    as: :fake
    = f.input :description, as: :text
    = f.input :accepts,     as: :radio_buttons
    = f.input :accepts,     as: :check_boxes
    = f.button :submit,     as: :fake

%section.container._m-b-1
  %a.btn.btn-xs{href:"#"} Button
  %a.btn.btn-sm{href:"#"} Button
  %a.btn{href:"#"} Button
  %a.btn.btn-lg{href:"#"} Button
  %a.btn.btn-xs.btn-primary{href:"#"} Button
  %a.btn.btn-sm.btn-primary{href:"#"} Button
  %a.btn.btn-primary{href:"#"} Button
  %a.btn.btn-lg.btn-primary{href:"#"} Button

%section.container._m-b-1
  %a.btn.btn-xs.btn-secondary{href:"#"} Button
  %a.btn.btn-sm.btn-secondary{href:"#"} Button
  %a.btn.btn-secondary{href:"#"} Button
  %a.btn.btn-lg.btn-secondary{href:"#"} Button
  %a.btn.btn-xs.btn-tertiary{href:"#"} Button
  %a.btn.btn-sm.btn-tertiary{href:"#"} Button
  %a.btn.btn-tertiary{href:"#"} Button
  %a.btn.btn-lg.btn-tertiary{href:"#"} Button

%section.container._m-b-1
  %a.btn.btn-xs.btn-link{href:"#"} Button
  %a.btn.btn-sm.btn-link{href:"#"} Button
  %a.btn.btn-link{href:"#"} Button
  %a.btn.btn-lg.btn-link{href:"#"} Button

%section.container
  %header.grid
    .g._1-2._1-1-sm._1-1-xs
      %h1 Home#index
      %h2 Home#index
      %h3
        %a{href:"#"} Home#index
      %h4 Home#index
      %h5 Home#index
      %h6 Home#index
    .g._1-2._1-1-sm._1-1-xs
      %h1.light Home#index
      %h2.light
        %a{href:"#"} Home#index
      %h3.light Home#index
      %h4.light Home#index
      %h5.light Home#index
      %h6.light Home#index
  %p Find me in app/views/home/index.html.haml
  %section.grid
    .g._1-6-xl._1-4-lg._1-3-md._1-2-sm._1-1-xs
      %p hello
    .g._1-6-xl._1-4-lg._1-3-md._1-2-sm._1-1-xs
      %p hello
    .g._1-6-xl._1-4-lg._1-3-md._1-2-sm._1-1-xs
      %p hello
    .g._1-6-xl._1-4-lg._1-3-md._1-2-sm._1-1-xs
      %p hello
    .g._1-6-xl._1-4-lg._1-3-md._1-2-sm._1-1-xs
      %p hello
    .g._1-6-xl._1-4-lg._1-3-md._1-2-sm._1-1-xs
      %p hello

  %br

  %section.grid
    .g._1-2._1-1-xs
      .grid
        .g._1-2
          %p hello
        .g._1-2
          %p hello
        .g._1-2
          %p hello
        .g._1-2
          %p hello
        .g._1-4
          %p hello
        .g._1-4
          %p hello
        .g._1-4
          %p hello
        .g._1-4
          %p hello
        .g._1-2
          %p hello
        .g._1-2
          %p hello
        .g._1-2
          %p hello
        .g._1-2
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
    .g._1-2._1-1-xs
      %p hello

  %section.grid
    .g._1-2
      .grid
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
    .g._1-2
      .grid
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello
        .g._1-6
          %p hello


  %section.grid
    .g._1-3
      %p hi
    .g._2-3
      %p hello

  %section.grid
    .g._1-4
      %p hi
    .g._3-4
      %p hello

  %section.grid
    .g._1-5
      %p hi
    .g._4-5
      %p hello

  %section.grid
    .g._2-3
      %p hi
    .g._1-6
      %p hello
    .g._1-6
      %p hello

  %br

  %section.grid._u-r
    .g._1-4
      %p hi
    .g._1-4
      %p hello
    .g._1-4
      %p hello

  %br

  %section.grid._u-c
    .g._1-4
      %p hi
    .g._1-4
      %p hello
    .g._1-4
      %p hello